@import "bootstrap";
@import "font-awesome";

.form-space {
	margin-bottom: 10px;
}

.list-upload-photos {
	padding-left: 5px;
}

.list-upload-photos img {
	float: left;
	padding: 3px;
}

.filter-selector {
	padding: 3px;
	cursor: pointer;
	text-align: center;
}

.filter-selector img {
	margin-left: 25px;
}

.filter-selector:hover {
	background-color: rgba(0,0,0,.3);
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}

.layer-selector {
	width: 400px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.layer-selector:hover {

}

.layer-selector #btnCapture {
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: -60px;
	background-color: rgba(0,0,0,.5);
	cursor: pointer;

	color: white;
	text-align: center;
	padding-top: 10px;

	-webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.layer-selector:hover #btnCapture {
	-webkit-transform: translate(0,-60px);
    -moz-transform: translate(0,-60px);
    -o-transform: translate(0,-60px);
    -ms-transform: translate(0,-60px);
    transform: translate(0,-60px);
}

.layer-selector #btnConfirmation {
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0px;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	padding-top: 15px;
	display: none;
}

.layer-selector #btnSelectFinalPhoto {
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0px;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	padding-top: 15px;
	display: none;
}

.video-selector {
  width: 100%    !important;
  height: auto   !important;
}

.photo-selected {
	width: 96px;
	height: 96px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}

.photo-selected:hover {
	opacity: 1;
}

.ig-1977 {
  -webkit-filter: sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8);
  filter: sepia(0.5) hue-rotate(-30deg) saturate(1.2) contrast(0.8);
}

.ig-amaro {
  -webkit-filter: hue-rotate(-10deg) contrast(0.9) brightness(1.1) saturate(1.5);
  filter: hue-rotate(-10deg) contrast(0.9) brightness(1.1) saturate(1.5);
}

.ig-hudson {
  -webkit-filter: contrast(1.2) brightness(0.9) hue-rotate(-10deg);
  filter: contrast(1.2) brightness(0.9) hue-rotate(-10deg);
}

.ig-inkwell {
  -webkit-filter: grayscale(1) brightness(1.2) contrast(1.05);
  filter: grayscale(1) brightness(1.2) contrast(1.05);
}

.ig-kelvin {
  filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1);
  -webkit-filter: sepia(0.4) saturate(2.4) brightness(1.3) contrast(1);
}

.ig-lofi {
  filter: contrast(1.4) brightness(0.9) sepia(0.05);
  -webkit-filter: contrast(1.4) brightness(0.9) sepia(0.05);
}

.ig-mayfair {
  -webkit-filter: saturate(1.4) contrast(1.1);
  filter: saturate(1.4) contrast(1.1);
}

.ig-nashville {
  -webkit-filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg);
  filter: sepia(0.4) saturate(1.5) contrast(0.9) brightness(1.1) hue-rotate(-15deg);
}

.ig-rise {
  -webkit-filter: saturate(1.4) sepia(0.25) hue-rotate(-15deg) contrast(0.8) brightness(1.1);
  filter: saturate(1.4) sepia(0.25) hue-rotate(-15deg) contrast(0.8) brightness(1.1);
}

.ig-sierra {
  -webkit-filter: contrast(0.8) saturate(1.2) sepia(0.15);
  filter: contrast(0.8) saturate(1.2) sepia(0.15);
}

.ig-sutro {
  -webkit-filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
  filter: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
}

.ig-toaster {
  -webkit-filter:sepia(0.4) saturate(2.5) hue-rotate(-30deg) contrast(0.67);
  -filter:sepia(0.4) saturate(2.5) hue-rotate(-30deg) contrast(0.67);
}

.ig-valencia {
  -webkit-filter: sepia(0.15) saturate(1.5) contrast(0.9);
  filter: sepia(0.15) saturate(1.5) contrast(0.9);
}

.gallery-photos div {
	overflow: hidden;
}

.gallery-photos img {
	opacity: .9;
	-webkit-transform: rotate(15deg) scale(1.2);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

	cursor: pointer;
}

.gallery-photos img:hover {
	opacity: 1;
	-webkit-transform: rotate(0) scale(.9);
	transform: rotate(0) scale(1);

	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}